@tailwind base;
@tailwind components;
@tailwind utilities;

#ball {
  @apply sfr-w-6 sfr-h-6 sfr-rounded-full;
  background-color: blue;
  background-image: radial-gradient(
      circle 25px at 0 0,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    radial-gradient(
      circle 180px at 90px 80px,
      rgba(255, 255, 255, 0.7),
      rgba(0, 0, 0, 0)
    );
  background-repeat: no-repeat, no-repeat;
  position: relative;
}
@screen lg {
  #package-mask {
    contain: paint;
  }
}
